*.zip filter=lfs diff=lfs merge=lfs -text
*.cmo3 filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/live2d/mao_pro/*.cmo3 filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/live2d/mao_pro/mao_pro_t06.cmo3 filter=lfs diff=lfs merge=lfs -text
